<h2 class="text-center">Choose an Event</h2>
<div class="emotion-container pb-20">
  @for (event of events; track event) {
    <button
    class="moodBtn"
    [class.selected]="selectedEvent === event" 
    (click)="toggleEvents(event)">
    {{ spiltOnCapital(Events[event]) }}
  </button>
  }
</div>
<!-- move to genre selection -->
<div class="fixed bottom-0 left-0 z-50 w-full h-16 bg-navbar-gradient">
  <div class="flex items-center justify-center h-full max-w-56 mx-auto font-medium">
<button class="btn" (click)="proceedToGenreSelection()">Next</button>
  </div>
  </div>
