<h2 class="text-center mb-2 text-2xl p-4">choose an event</h2>
<div #scrollContainer class="overflow-auto">
  <div class="flex flex-wrap justify-center gap-4 max-w-4xl mx-auto pb-20">
  @for (event of events; track event) {
    <button
    class="moodBtn shadow-md transition-all duration-300 flex items-center justify-center"
    [class.selected]="selectedEvent === event" 
    [ngStyle]="getSize(event)"
    (click)="toggleEvents(event)">
    {{ spiltOnCapital(Events[event]) }}
  </button>
  }
</div>
</div>
@if (selectedEvent != Events.None) {
  <div 
  class="fixed bottom-4 left-0 right-0 flex justify-center animate-fade-in">
<button 
 class="btn px-14 py-4 rounded-lg shadow-lg"
 (click)="proceedToGenreSelection()">
 continue
</button>
</div>
}
