<div class="flex flex-col justify-center items-center h-full w-full">
  <h1 class="font-courierPrime">register for an account</h1>
  <div class="flex flex-col font-courierPrime mt-5 w-[85%]">
    <label class="mb-3">email</label>
    <input type="text" class="input input-bordered w-full" [(ngModel)]="email" />
    <label class="my-3">password</label>
    <input type="password" class="input input-bordered w-full" [(ngModel)]="password" />
    <label class="my-3">confirm password</label>
    <input type="password" class="input input-bordered w-full" [(ngModel)]="confirmPass" />
    <button class="btn btn-accent w-full mt-5" (click)="register()">register</button>
  </div>
  <a (click)="navigate()" class="font-courierPrime mt-5 text-accent">already have an account? login here</a>
</div>