<div class="ion-padding p-2">
  <div class="flex items-center">
    <img src="/mock/test.jpg" class="w-12 rounded-full" />
    <div class="ms-2 mt-0 flex flex-col justify-center items-start">
      <h5 class="font-courierPrime mb-0 mt-1">{{user.username}}</h5>
      <p class="font-courierPrime text-sm mt-0">social score: {{user.social_score}}</p>
    </div>

    <!-- Icon with badge -->
    <div class="relative ml-auto">
      <ion-icon name="person-add-sharp" class="h-[30px] w-[30px]" (click)="navigateToFriendsList()"></ion-icon>
      <!-- Badge for pending requests -->
       @if (pendingRequestCount > 0) {
        <span
          class="absolute top-0 right-0 transform translate-x-1/2 -translate-y-1/2 bg-red-500 text-white text-xs font-bold rounded-full h-5 w-5 flex items-center justify-center"
        >
          {{ pendingRequestCount }}
        </span>
       }
    </div>
  </div>
  <div class="h-full mt-5">
    @for (item of mergedContent; track item) {
      @if (item.type === 'song') {
        <div class="bg-gradient-to-b from-slate-800 to-gray-900 flex flex-col">
          <div class="flex flex-row w-full">
            <img src="/mock/test.jpg" class="w-12 h-auto rounded-full" />
            <h5 class="text-sm">{{item.user?.username || 'user'}} generated a new song</h5>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="rgba(255,255,255,1)" width="16" height="16"><path d="M14.5998 8.00033H21C22.1046 8.00033 23 8.89576 23 10.0003V12.1047C23 12.3659 22.9488 12.6246 22.8494 12.8662L19.755 20.3811C19.6007 20.7558 19.2355 21.0003 18.8303 21.0003H2C1.44772 21.0003 1 20.5526 1 20.0003V10.0003C1 9.44804 1.44772 9.00033 2 9.00033H5.48184C5.80677 9.00033 6.11143 8.84246 6.29881 8.57701L11.7522 0.851355C11.8947 0.649486 12.1633 0.581978 12.3843 0.692483L14.1984 1.59951C15.25 2.12534 15.7931 3.31292 15.5031 4.45235L14.5998 8.00033ZM7 10.5878V19.0003H18.1606L21 12.1047V10.0003H14.5998C13.2951 10.0003 12.3398 8.77128 12.6616 7.50691L13.5649 3.95894C13.6229 3.73105 13.5143 3.49353 13.3039 3.38837L12.6428 3.0578L7.93275 9.73038C7.68285 10.0844 7.36341 10.3746 7 10.5878ZM5 11.0003H3V19.0003H5V11.0003Z"></path></svg>
          </div>
          <span>here is what fits their mood</span>
          <div></div>
        </div>
      }

      @if (item.type === 'playlist') {
        <div class="bg-gradient-to-b from-slate-800 to-gray-900">
          playlist test 123
        </div>
      }
    }
    <div class="w-full flex justify-center mt-5">
      <span class="font-courierPrime">end of the line, bucko!</span>
    </div>
  </div>
</div>