<div class="ion-padding overflow-y-auto overflow-x-hidden">
  <h1 class="font-courierPrime  text-center font-bold">
    <span class="rainbow" (touchstart)="handleTouchMove($event)" (touchmove)="handleTouchMove($event)"
      (touchend)="stopPlaying()">
      <span id="letter-0" class="text-orange-500">c</span>
      <span id="letter-1" class="text-yellow-500">h</span>
      <span id="letter-2" class="text-yellow-400">r</span>
      <span id="letter-3" class="text-green-400">o</span>
      <span id="letter-4" class="text-blue-400">m</span>
      <span id="letter-5" class="text-indigo-400">a</span>
      <span id="letter-6" class="text-purple-400">t</span>
      <span id="letter-7" class="text-pink-400">i</span>
      <span id="letter-8" class="text-red-400">c</span>
      <span id="letter-9" class="text-lime-400">a</span>
    </span>
  </h1>
  <h6 class="font-courierPrime text-center my-0 ">your personal music generation genius</h6>
  <!-- Generate buttons section -->
  <div class="rounded-lg bg-main-gradient p-6 mt-6 max-w-md mx-auto">
    <div class="flex flex-col items-center justify-center gap-6 font-courierPrime">
      <button class="btn btn-accent font-semibold text-lg py-3 px-8 w-full max-w-sm" (click)="navigateToForm('Song')">
        generate song
      </button>
      <button class="btn btn-accent font-semibold text-lg py-3 px-8 w-full max-w-sm"
        (click)="navigateToForm('Playlist')">
        generate playlist
      </button>
    </div>
  </div>

  <!-- Playlists section -->
  <h4 class="mt-8 mb-1 pb-0 ml-5 flex flex-row font-semibold items-center">
    your recent
    <img src="/Spotify_Full_Logo_RGB_White.png" alt="Spotify Logo" height="90px" width="90px"
      class="mb-[0.15rem] mx-2" />
    playlists
  </h4>
  <div class="max-w-2xl mx-auto">
    <div class="bg-main-gradient rounded-md p-4">
      <div class="carousel carousel-center w-full mask-fade-edges">
        <div class="flex justify-start items-center gap-4 pl-2">
          @for (playlist of playlists; track $index) {
          <div class="carousel-item w-32 h-32 pr-4">
            <a href="https://open.spotify.com/playlist/{{playlist.spotify_playlist_id}}" target="_blank">
              <img [src]="playlist.playlist_image_url" class="rounded-md w-full h-full object-cover" />
            </a>
          </div>
          }
        </div>
      </div>
    </div>
  </div>


  <!-- Suggestions section -->
  <h4 class="mt-8 mb-1 pb-0 ml-5 font-semibold">feeling stuck? try one of these</h4>
  <div class="max-w-2xl mx-auto">
    <div class="bg-main-gradient rounded-md p-4">
      <div class="carousel carousel-center w-full mask-fade-edges">
        <div class="flex justify-center items-center gap-4 pl-2">
          @for (suggestion of suggestionsList; track suggestion) {
          <div class="carousel-item flex flex-col items-center justify-center w-32 pr-4">
            <p class="text-[.75em] text-center mb-1">{{ suggestion.displayText }}</p>
            <img [src]="suggestion.imageUrl" class="rounded-md w-full h-full object-cover" />
          </div>
          }
        </div>
      </div>
    </div>
  </div>

  <!-- Songs section -->
  <h4 class="mt-8 mb-1 pb-0 ml-5 flex flex-row font-semibold items-center">
    your recent
    <img src="/Spotify_Full_Logo_RGB_White.png" alt="Spotify Logo" height="90px" width="90px"
      class="mb-[0.15rem] mx-2" />
    songs
  </h4>
  <div class="rounded-lg bg-main-gradient p-6 max-w-md mx-auto">
    <ul class="flex flex-col gap-3 pb-4 text-text">
      @for (song of songs; track song;) {
      <li
        class="flex items-center list-none justify-between bg-gradient-to-b from-slate-800 to-gray-900 border border-gray-900 rounded-lg shadow-md p-2">
        <div class="flex items-center flex-1 min-w-0">
          <img class="rounded-sm h-16 w-16 object-cover mx-2" [src]="song.song_image_url" [alt]="song.track_name" />
          <div class="flex-1 min-w-0 ml-2">
            <h3 class="m-0 p-0 text-lg font-courierPrime truncate">
              {{ song.track_name }}
            </h3>
            <p class="m-0 p-0 text-sm truncate font-courierPrime text-gray-400">
              {{ song.artist }}
            </p>
          </div>
        </div>
        <a href="https://open.spotify.com/track/{{song.spotify_track_id}}" target="_blank" class="shrink-0">
          <ion-icon name="play" class="text-accent border-[#1e444e] text-4xl mr-2"></ion-icon>
        </a>
      </li>
      }
    </ul>
  </div>
</div>