<div class="w-screen h-screen flex items-center justify-center">
  <h1 class="flex flex-col">
    <h1 class="text-3xl text-white">TensorFlow.js Neural Network</h1>
    <button class="hover:cursor-pointer border-solid border border-white p-2 rounded" (click)="getAllFeatures()">Get All Features</button>
    <button class="hover:cursor-pointer border-solid border border-white p-2 rounded mt-3" (click)="train()">Train NN</button>
    <button class="hover:cursor-pointer border-solid border border-white p-2 rounded mt-3" (click)="test()">Test NN</button>
    <div id="console-output" class="mt-3 p-3 border border-gray-500 rounded max-h-64 overflow-y-auto text-white bg-gray-800">
      <!-- Logs will appear here -->
    </div>
  </h1>
</div>