<div class="relative font-courierPrime w-full h-full">
  <ion-icon name="chevron-back-outline" class="absolute top-5 left-5 h-[25px] w-[25px]" (click)="navigateBack()"></ion-icon>
  <div class="flex flex-col w-full h-full">
    <div class="flex flex-col justify-center items-center mt-16 h-[50%]">
      <span class="font-semibold text-xl">current friends</span>
      <hr class="flex-grow border-t border-text w-[80%]" />
    </div>
    <div class="flex flex-col justify-center items-center h-[50%]">
      <span class="font-semibold text-xl">pending requests</span>
      <hr class="flex-grow border-t border-text w-[80%]" />
    </div>
  </div>
</div>
