<h2 class="text-center mb-0 text-2xl pt-4 pb-0">choose a genre</h2>
<p class="text-center mb-2 font-courierPrime">(optional)</p>
<div class="overflow-auto">
  <div class="flex flex-wrap justify-center gap-4 max-w-4xl mx-auto pt-4 pb-20">
  @for (genre of genres; track genre) {
    <button
      class="moodBtn shadow-md transition-all duration-300 flex items-center justify-center"
      [ngStyle]="getSize(genre)"
      [class.selected]="selectedGenre === genre"
      (click)="toggleGenres(genre)">
      {{ splitOnCapital(Genres[genre]) }}
    </button>
  }
</div>
