
  .play-button {
    background: linear-gradient(145deg, #6DD5FA, #2980B9);
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: all 0.3s ease;
  }
  ion-icon {
    transition: transform 0.2s ease;
  }