<div class="h-full w-full">
  <h2 class="w-full text-center">your top tracks</h2>
  <div class="rounded bg-main-gradient mx-4 p-3">
    <div class="bg-[#083A49] flex flex-row mb-3 rounded mx-5 items-center shadow-lg">
      <img src="/mock/song1.png" class="w-auto h-12 rounded-l" />
      <div class="flex flex-col ml-2">
        <span>title</span>
        <span class="text-sm">pop</span>
      </div>
      <span class="ml-auto text-sm mr-2">happy</span>
    </div>
    <div class="bg-[#083A49] flex flex-row mb-3 rounded mx-5 items-center shadow-lg">
      <img src="/mock/song2.png" class="w-auto h-12 rounded-l" />
      <div class="flex flex-col ml-2">
        <span>title</span>
        <span class="text-sm">metal</span>
      </div>
      <span class="ml-auto text-sm mr-2">angry</span>
    </div>
    <div class="bg-[#083A49] flex flex-row mb-3 rounded mx-5 items-center shadow-lg">
      <img src="/mock/song3.png" class="w-auto h-12 rounded-l" />
      <div class="flex flex-col ml-2">
        <span>title</span>
        <span class="text-sm">punk</span>
      </div>
      <span class="ml-auto text-sm mr-2">angst</span>
    </div>
    <div class="bg-[#083A49] flex flex-row mb-3 rounded mx-5 items-center shadow-lg">
      <img src="/mock/song1.png" class="w-auto h-12 rounded-l" />
      <div class="flex flex-col ml-2">
        <span>title</span>
        <span class="text-sm">indie</span>
      </div>
      <span class="ml-auto text-sm mr-2">sad</span>
    </div>
    <div class="bg-[#083A49] flex flex-row rounded justify-center items-center shadow-lg px-[0.15rem]">
      <span class="ml-1 my-1 px-[0.2rem] py-0 bg-[#2e6170] rounded">1 week</span>
      <span class="ml-auto">1 month</span>
      <span class="ml-auto mr-1">6 months</span>
    </div>
  </div>
  <h2 class="w-full text-center">mood tracking</h2>
  <div class="rounded bg-main-gradient mx-4 p-3">
    <div class="flex flex-row space-x-4 mb-2 mx-2">
      <div class="rounded bg-[#083A49] flex flex-col justify-center items-center w-[50%] p-2">
        <span class="w-full text-center mb-4">your most popular mood was</span>
        <img src="/lil-guys/image.png" class="w-20 h-auto mb-4"/>
        <span class="w-full text-center">happy</span>
      </div>
      <div class="rounded bg-[#083A49] flex flex-col w-[50%] text-center justify-center text-2xl space-y-3">
        <span>67% happy</span>
        <span>18% sad</span>
        <span>9% angst</span>
        <span>6% angry</span>
      </div>
    </div>
    <div class="bg-[#083A49] flex flex-row rounded justify-center items-center shadow-lg px-[0.15rem]">
      <span class="ml-1 my-1 px-[0.2rem] py-0 bg-[#2e6170] rounded">1 week</span>
      <span class="ml-auto">1 month</span>
      <span class="ml-auto mr-1">6 months</span>
    </div>
  </div>
  <div class="flex flex-row w-full mt-5 justify-center space-x-10 text-center">
    <div>
      <img src="/mock/playlist.png" class="w-auto h-40 rounded mb-2" />
      <span>your songs</span>
    </div>
    <div>
      <img src="/mock/playlist.png" class="w-auto h-40 rounded mb-2" />
      <span>your playlists</span>
    </div>
  </div>
</div>
