
<ion-content class="ion-padding">
  <div class="relative">
    <button class="absolute right-4 top-4 text-xl" (click)="navigateToHome()">X</button>
  </div>
  <div [ngSwitch]="currentStep">
    <app-emotion-selection
      *ngSwitchCase="'emotion'"
      [emotions]="availableEmotions"
      [selectedEmotion]="selectedEmotion"
      (selectedEmotionChange)="onEmotionsChange($event)">
    </app-emotion-selection>
    <app-event-selection
    *ngSwitchCase="'event'"
    [events]="availableEvents"
    [selectedEvent]="selectedEvents"
    (selectedEventsChange)="onEventsChange($event)">
    </app-event-selection>
    <app-genre-selection
    *ngSwitchCase="'genre'"
    [genres]="availableGenres"
    [selectedGenre]="selectedGenre"
    (selectedGenresChange)="onGenresChange($event)">
    </app-genre-selection>
  </div>
  @if (currentStep === 'genre') {
    <div class="fixed bottom-4 left-0 right-0 flex justify-center">
    <button class="btn px-14 py-4 rounded-lg shadow-lg" (click)="submitForm()">Generate {{generationType}}</button>
      </div>
  }
  </ion-content>


